.editRoom {
    display: flex;
    width: 100%;

    .editContainer {
        flex: 6;
        padding: 20px;

        .editFormWrapper {
            background-color: #fff;
            padding: 30px;
            margin: 20px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

            h1 {
                font-size: 24px;
                color: #555;
                margin-bottom: 20px;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 15px;

                label {
                    font-weight: 600;
                    color: #333;
                }

                input,
                textarea {
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    font-size: 14px;
                }

                button {
                    padding: 10px 20px;
                    border: none;
                    background-color: teal;
                    color: white;
                    border-radius: 5px;
                    font-weight: bold;
                    cursor: pointer;
                    width: fit-content;
                    transition: 0.3s;

                    &:hover {
                        background-color: #006666;
                    }
                }
            }
        }
    }
}