
.hotelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.hotelWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}


.bookNow,
.hotelDetailsPrice button {
  background-color: #0071c2;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 10px;
  right: 0;
}

.bookNow:hover,
.hotelDetailsPrice button:hover {
  background-color: #005a9c;
}


.hotelTitle {
  font-size: 24px;
}

.hotelAddress {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hotelDistance {
  color: #0071c2;
  font-weight: 500;
}

.hotelPriceHighlight {
  color: #008009;
  font-weight: 500;
}


.hotelImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.hotelImgWrapper {
  flex: 1;
  width: 32%;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.hotelImgWrapper:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

.hotelImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: filter 0.3s ease;
}

.hotelImg:hover {
  filter: brightness(90%);
}


.hotelDetails {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.hotelDetailsTexts {
  flex: 3;
}

.hotelDesc {
  font-size: 14px;
  margin-top: 20px;
}

.hotelDetailsPrice {
  flex: 1;
  background-color: #ebf3ff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hotelDetailsPrice h1 {
  font-size: 18px;
  color: #555;
}

.hotelDetailsPrice span {
  font-size: 14px;
}

.hotelDetailsPrice h2 {
  font-weight: 300;
}

.slider {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: flex;
  align-items: center;
}

.sliderWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderImg {
  width: 80%;
  height: 80vh;
  object-fit: cover;
}

.close,
.arrow {
  position: absolute;
  font-size: 30px;
  color: lightgray;
  cursor: pointer;
}

.close {
  top: 20px;
  right: 20px;
}

.arrow {
  font-size: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.arrow:first-of-type {
  left: 20px;
}

.arrow:last-of-type {
  right: 20px;
}